.box {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 600px;
  border-radius: 10px;
  background-color: #c0dcfd;
  flex-direction: column;
}
* {
  font-family: "Raleway", sans-serif;
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  padding: 10px 40px;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #646464;
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: calc(100% - 7rem);
  transition: all ease-in-out 0.5s;
  margin-right: -2rem;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background-color: transparent;
}

.search__button {
  border: none;
  background-color: transparent;
  margin-top: 0.1em;
  position: absolute;
  left: 84%;
}

.search__button:hover {
  cursor: pointer;
}

.search__icon {
  height: 1.3em;
  width: 1.3em;
  fill: #b4b4b4;
}
.validators {
  padding: 20px;
}
.list-each {
  font-family: inherit;
  font-size: 20px;
  color: gray;
  letter-spacing: 1px;
  padding: 10px 0px;
  list-style-type: circle;
}
.success {
    color: #0e390a;
    list-style-type: disc;
    font-weight: bold;
}
